.card
{
    width: 1832px;
    height: 611px;
    margin-left: 30px;
    background: #D5FCF9 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    border:none;
    text-align: left;
    span
    {
        color:#07A79A;
    }
    p
    {
        padding-left:100px;
        padding-right: 50px;
        line-height: 20px;
    }
    h1
    {
        padding-left:200px;
        padding-top: 130px;
    }
}
.card_image
{
    height:611px;
    width:916
}
.card1
{
    width: 1832px;
    height: 611px;
    margin-left: 30px;
    background: #EFEAFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    border:none;
    text-align: left;
    span
    {
        color:#6A4CE5;
    }
    p
    {
        padding-left:50px;
        padding-right: 60px;
        line-height: 20px;
    }
    h1
    {
        padding-left:100px;
        padding-top: 130px;
    }
}
.card_image1
{
    height:611px;
    width:916
}