.row
{
    width:1600px;
    margin-left: 200px;
    img
        {
            margin-left:28px;
            margin-top:30px;
        }
}
.card
{
    width: 350px;
    height: 300px;
    border-radius: 20px 0px 0px 0px;
    border:none;
}
.card1
{
    width: 350px;
    height: 300px;
    border:none; 
    border-radius: 0px 0px 0px 0px;
}
.card2
{
    width: 350px;
    height: 300px;
    border:none;  
    border-radius: 0px 0px 0px 0px; 
}
.card3
{
    width: 350px;
    height: 300px;
    border-radius: 0px 20px 0px 0px;
    
}
.row1
{
    width:1600px;
    margin-left: 200px;
    img
        {
            margin-left:28px;
            margin-top:30px;
        }
}
.card4
{
    width: 350px;
    height: 300px;
    border-radius: 0px 0px 0px 20px;
    border:none;
}
.card5
{
    width: 350px;
    height: 300px;
    border:none; 
    border-radius: 0px 0px 0px 0px;
}
.card6
{
    width: 350px;
    height: 300px;
    border:none;  
    border-radius: 0px 0px 0px 0px; 
}
.card7
{
    width: 350px;
    height: 300px;
    border-radius: 0px 0px 20px 0px;
    
}